@*@model Owner*@
<h2>Add a new user to the Database</h2>

<form method="post">
    <label>Email address</label>
    <input type="text" name="Email" />
    <br />
    <label>Password</label>
    <input type="text" name="Password"/>
 
   
    <br />

    <input type="submit" />
</form>