
<h2>Add a new task to the Database</h2>

<form method="post">
    <label>Task name</label>
    <input type="text" name="TaskName" />
    <br />
    <label>Owner Id</label>
    <input type="text" name="OwnerId"/>
    <br/>
    <label> Due date</label>
    <input type="datetime" name="DueDate"/>
    <br/>
    @*<label>Is Completed</label>
    <br />*@
    @*<label>Yes:</label><input type="radio" name="Completed" value="true" required />*@
    @*<label>No:</label><input type="radio" name="Completed" value="false" required />*@
    <br />

    <input type="submit" />
</form>
