@Model Owner 
<h2>Log in to the task manager</h2>

<form method="post">
    <label>Email address</label>
    <input type="text" name="Email" required />
    <br />
    <label>Password</label>
    <input type="text" name="Password" required />

 

    <br/>

    <input type="submit" />
</form>