
@model Tasks
@*<form method="post" asp-route-Id="Id" asp-action="Search" asp-controller="ToDo">*@
    <h2>Task Name: @Model.TaskName</h2>
    <h2>Due Date: @Model.DueDate</h2>
    <h2>Is Completed: @Model.Completed</h2>
@*</form>*@